<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue test!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body>

<div class="container">
    <section id="records">

        <form action="">
            <h1 v-on="click: isSortingVisible = !isSortingVisible">Sorting</h1>

            <div class="sorting" v-show="isSortingVisible">
                <label>
                    <input type="radio" name="sorting" value="title" v-model="sortField"/>
                    Name
                </label>
                <label for="distance">
                    <input type="radio" name="sorting" id="distance" value="distance" v-model="sortField"/>
                    Distance
                </label>
            </div>

            <h1 v-on="click: isFilterVisible = !isFilterVisible">Filtering</h1>

            <div v-repeat="filters" v-show="isFilterVisible">
                <label>
                    <input type="checkbox" name="{{label}}" v-model="active"/>
                    {{label}}
                </label>
            </div>

            <input type="search" v-model="searchTerm"/>
        </form>

        <article class="well" v-repeat="
            records
            | orderBy sortField
            | filterOnQuality
            | filterBy searchTerm">
            <header>{{title}}</header>
            <section v-if="qualities.length">
                <strong>Kwaliteitsprofiel stuff</strong>
                <ul>
                    <li v-repeat="qualities">{{$value}}</li>
                </ul>
            </section>
            <footer>
                {{distance}}km
            </footer>
        </article>
        <pre>
            {{ $data | json }}
        </pre>
    </section>
</div>


<script src="js/bundle.js"></script>
</body>
</html>
